@inherits LayoutComponentBase
@inject NavigationManager Navigation
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Layout</title>
    <link rel="stylesheet" href="MainStyle.css">
    <link rel="stylesheet" href="homeStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js" defer></script>
</head>
<body>
    <div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@ 
        @if (showStartOverlay)
        {
            <div class="start-overlay">
                <button class="btn btn-lg btn-success start-button" @onclick="NavigateToStart">
                    <i class="fa fa-utensils me-2"></i> Start Ordering
                </button>
            </div>
        }

    <main>
        <div class="topbar">
            <span class="leftside">
                <button id="btnMenu" class="btn text-primary" href="javascript:void(0)" onclick="toggleMenu()">
                    <i class="fa fa-bars"></i>
                </button>
                <button id="btnMenuClose" style="display:none" class="btn text-danger" href="javascript:void(0)" onclick="$('.mobile-nav').toggleClass('open');$('#btnMenu').toggle();$('#btnMenuClose').toggle()">
                    <i class="fa fa-times"></i>
                </button>
            </span>

           <span class="rightside d-flex align-items-center gap-3">
                <NavLink class="btn btn-success" href="/start" Match="NavLinkMatch.All">
                    <i class="fa fa-utensils me-1"></i> Start Ordering
                </NavLink>

                <SectionOutlet SectionName="page-buttons" />                
            </span>
        </div>
        <NavMenu />
        <article class="content px-4" onclick="hideMenu()" style="margin-top: 70px;">
            @Body
        </article>
    </main>
</div>

</body>
@code{
    private bool showStartOverlay = true;
        $('.mobile-nav').toggleClass('open');
        $('#btnMenu').toggle();
        $('#btnMenuClose').toggle();
    }

    function showMenu() {
        $('.mobile-nav').addClass('open');
        $('#btnMenu').hide();
        $('#btnMenuClose').show();
    }

    function hideMenu() {
        $('.mobile-nav').removeClass('open');
        $('#btnMenu').show();
        $('#btnMenuClose').hide();
    }
</script>