@page "/home"
@inject NavigationManager Navigation
@using System.Net;
@using System.Net.Sockets;
@using System.Text;
@using System.Threading.Tasks;
@inject IJSRuntime JSRuntime
@inject IJSRuntime JS

<head>
    <link rel="stylesheet" href="HomeStyle.css">
   
</head>

<SectionContent SectionName="page-buttons">
    <div id="searchBox" class="input-group header-search" style="display:none; width:500px; ">
        <span class="input-group-text text-warning"><i class="fa fa-search"></i></span>
        <input id="txtSearch" type="text" class="form-control" placeholder="Search" value="@Model.Search" @onchange="SearchTerm" />
        <span class="input-group-text" onclick="hideSearchBox()"><i class="fa fa-times"></i></span>
    </div>
    <span id="controlBox">
        <button class="btn text-warning" onclick="showSearchBox()">
            <i class="fa fa-search"></i>
        </button>
    </span>    
</SectionContent>

