@page "/register"
<h3>Register</h3>
@if (!string.IsNullOrWhiteSpace(StatusMessage))
{
    <div class="alert alert-@Status">
        <i class="fa fa-info-circle"></i>&nbsp;
        @StatusMessage
    </div>
}
<table>
    <tr>
        <td><label>Username:</label></td>
        <td><input type="text" @bind="Model.Username" /></td>
    </tr>
    <tr>
        <td><label>Password:</label></td>
        <td><input type="password" @bind="Model.Password" /></td>
    </tr>
    <tr>
        <td><label>First Name:</label></td>
        <td><input type="text" @bind="Model.FirstName" /></td>
    </tr>
    <tr>
        <td><label>Last Name:</label></td>
        <td><input type="text" @bind="Model.LastName" /></td>
    </tr>
    <tr>
        <td><label>Mobile:</label></td>
        <td><input type="text" @bind="Model.MobileNumber" /></td>
    </tr>
    <tr>
        <td><label>Address:</label></td>
        <td><textarea @bind="Model.Address"></textarea></td>
    </tr>
</table>
<button @onclick="RegisterUser">
    Save
</button>
