@page "/"

@inject NavigationManager Navigation
<head>
    <link rel="stylesheet" href="homeStyles.css">
</head>
<div class="start-page">
    <button class="start-btn" @onclick="StartOrdering">Start Ordering</button>
</div>

@code {
    void StartOrdering()
    {
        Navigation.NavigateTo("/home");
    }
}
