/* General Layout Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Header and Search Box */
.header-search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    width: 70px;
}

.input-group-text {
    background-color: #ffcc00;
    border: none;
    padding: 10px;
}

.form-control {
    width: 250px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ddd;
    margin-left: 10px;
}

#controlBox button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
